<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="database" class="pt.altran.roothless.model.Database"/>
    <bean id="userService" class="pt.altran.roothless.service.UserService">
        <constructor-arg ref="database"/>
    </bean>

    <bean id="plane" class="pt.altran.roothless.model.Plane"/>
    <bean id="bubble" class="pt.altran.roothless.model.Bubble"/>
    <bean id="relativePosition" class="pt.altran.roothless.model.RelativePosition">
        <constructor-arg ref="plane"/>
        <constructor-arg ref="bubble"/>
    </bean>

    <bean id="updateWindowView" class="pt.altran.roothless.service.UpdateWindowView">
        <constructor-arg ref="relativePosition"/>
    </bean>

    <bean id="loop" class="pt.altran.roothless.service.Loop">
        <constructor-arg ref="plane"/>
        <constructor-arg ref="bubble"/>
        <constructor-arg ref="relativePosition"/>
    </bean>

    <bean id="navigationSuper" class="pt.altran.roothless.NavigationSuper">
        <property name="controllers">
            <map>
                <entry key="LoginController" value-ref="logincontroller"/>
                <entry key="PlaneController" value-ref="planecontroller"/>
            </map>
        </property>
    </bean>

    <bean id="logincontroller" class="pt.altran.roothless.Controller.LoginController" autowire="constructor">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="navigationSuper"/>
    </bean>

    <bean id="planecontroller" class="pt.altran.roothless.Controller.PlaneController" autowire="constructor">
        <constructor-arg ref="plane"/>
        <constructor-arg ref="bubble"/>
        <constructor-arg ref="relativePosition"/>
        <constructor-arg ref="updateWindowView"/>
        <constructor-arg ref="loop"/>
        <constructor-arg ref="navigationSuper"/>
    </bean>


    



</beans>