<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="plane" class="pt.altran.roothless.model.Plane"/>
    <bean id="bubble" class="pt.altran.roothless.model.Bubble"/>

    <bean id="navigation" class="pt.altran.roothless.Navigation" scope="singleton">
        <property name="controllers">
            <map>
                <entry key="LoginController" value-ref="logincontroller"/>
                <entry key="PlaneController" value-ref="planecontroller"/>
            </map>
        </property>

    </bean>

    <bean id="logincontroller" class="pt.altran.roothless.Controller.LoginController" autowire="constructor">
        <constructor-arg ref ="navigation"/>
    </bean>

    <bean id="planecontroller" class="pt.altran.roothless.Controller.PlaneController" autowire="constructor">
        <constructor-arg ref="plane"/>
        <constructor-arg ref="bubble"/>
        <constructor-arg ref="navigation"/>

    </bean>
    



</beans>